{{#if poster_path}}

        <div class="modal__poster"><button class="play_trailer" aria-label='play trailer'> 
        <svg
            width="50px"  viewBox="0 0 260 180" enable-background="new 0 0 260 180" xml:space="preserve">
        <path d="M220,2H40C19.01,2,2,19.01,2,40v100c0,20.99,17.01,38,38,38h180c20.99,0,38-17.01,38-38V40C258,19.01,240.99,2,220,2z
            M102,130V50l68,40L102,130z"/>
        </svg>
        </button>

		<img class="modal__img"  srcset=" https://image.tmdb.org/t/p/w500{{poster_path}} 1x,
 				https://image.tmdb.org/t/p/w780{{poster_path}} 2x" src='https://image.tmdb.org/t/p/w300{{poster_path}}'
				alt="{{original_title}}" loading="lazy"></div>
	{{else}}
        <div class="modal__poster"><button class="play_trailer" aria-label='play trailer'> 
        <svg
            width="50px"  viewBox="0 0 260 180" enable-background="new 0 0 260 180" xml:space="preserve">
        <path d="M220,2H40C19.01,2,2,19.01,2,40v100c0,20.99,17.01,38,38,38h180c20.99,0,38-17.01,38-38V40C258,19.01,240.99,2,220,2z
            M102,130V50l68,40L102,130z"/>
        </svg>
        </button>
		<img class="modal__img"  src='https://cdn.pixabay.com/photo/2016/03/31/18/36/cinema-1294496_1280.png' alt="default photo">
	    </div>
    {{/if}}
        <div class="modal__all-info">
            <h2 class="modal__title">{{original_title}}</h2>
            <div class="modal__main-info">
                <ul class="modal__list-info">
                    <li class="modal__item-info">
                        <p class="modal__part-info">Vote / Votes</p>
                        <p class="modal__info"><span class="modal__info-color">{{vote_average}}</span>
                        <span class="modal__info-light"> / {{vote_count}}</span>
                        </p>
                    </li>
                    <li class="modal__item-info">
                        <p class="modal__part-info">Popularity</p>
                        <p class="modal__info">{{popularity}}</p>
                    </li>
                    <li class="modal__item-info">
                        <p class="modal__part-info">Original Title</p>
                        <p class="modal__info">{{original_title}}</p>
                    </li>
                    
                    <li class="modal__item-info ">
                        <p class="modal__part-info">Genre</p>
                        <p class="modal__flex modal__info">
                            {{#each genres}}
                        <span class="modal__genre">{{this.name}}</span>
                            {{/each}}
                        </p>
                    </li>
                    
                </ul>
            </div>
            <h3 class="modal__title-description">About</h3>
            <p class="modal__description">{{overview}}</p>
                    
            <div class="modal__btns">
                <button class="modal__btn btn__watched add">add to Watched</button>
                <button class="modal__btn btn__queue add" >add to queue</button>
            </div>
        </div>