<li class="photo-card" id="{{id}}">
	{{#if img}}
		<img  srcset=" https://image.tmdb.org/t/p/w300{{img}} 1x,
 				https://image.tmdb.org/t/p/w500{{img}} 2x" src='https://image.tmdb.org/t/p/w300{{img}}'
				alt="{{original_title}}" loading="lazy">
	{{else}}
		<img src='https://cdn.pixabay.com/photo/2016/03/31/18/36/cinema-1294496_1280.png' alt="default photo">
	{{/if}}
<div class="film-discription-box">
<h2 class="film-discription film-title">{{original_title}}</h2>
<p class="film-discription film-details">{{genre_ids}} | {{release_date}}
</div>
</li>